.react-calendar-heatmap rect {
  rx: 50%;
  ry: 50%;
}

.react-calendar-heatmap .color-empty {
  fill: #f3f4f6;
}

.react-calendar-heatmap .color-scale-0 {
  fill: #ffedd5;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #fdba74;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #fb923c;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #f97316;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #c2410c;
}
